.News {
  margin-top: 4vw;
  margin-bottom: 4vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.News article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;  
  border: 1px solid #e6c7ed;
  background: #e6c7ed;
}

.imgNews {
  width: fit-content;
  height: auto;
  object-fit: cover;
  align-items: center;
  margin-top: 2%;
}

@media screen and (min-width:700px) {
  .News article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 70%;
    border-radius: 5%;
  }
}

@media screen and (min-width:900px) {
  .News article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 60%;
    border-radius: 5%;
  }
}