.footer {
  background-color: #CEEDC7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pages,
.contactUs,
.socialMedia,
.policy {
  margin-right: 20px;
}

.pages h1,
.contactUs h1,
.socialMedia h1,
.policy h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pages h2,
.contactUs h2,
.policy h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a ion-icon {
  font-size: 20px;
  margin-right: 5px;
}

a[href="#header"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #333;
  font-size: 30px;
}

a[href="#header"]:hover {
  color: #666;
}

@media screen and (min-width:700px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width:900px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: row;
  }
}